@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    background-color: honeydew;
}


header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkseagreen;
}

nav{
    display: flex;
    gap: 30px;
    font-family: 'Scheherazade New', serif;
    font-size: larger;
}

nav a{
    text-decoration: none;
    color:honeydew;
}

a:hover{
    color:khaki;
}

p{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'Scheherazade New', serif;
    font-size: larger;
    color:black;
}

.BunnyP{
    font-family: 'Scheherazade New', serif;
    padding: 30px;
    font-size: larger;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Scheherazade New', serif;
}

h2{
    display: flex;
    font-family: 'Scheherazade New', serif;
    margin: 30px;
}

h3{
    display: flex;
    font-family: 'Scheherazade New', serif;
    margin: 30px;
}

li{
    font-family: 'Scheherazade New', serif;
    font-size: larger;
}

button{
    background-color:darkseagreen;
    border-color: darkseagreen;
    width: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Scheherazade New', serif;
    font-size: larger;
    color:honeydew

}

.button{
    display: flex;
    justify-content: center;
}

.bunnys{
    display: flex;
    flex-direction: column;justify-content: space-between;
    
    padding: 30px;
}

.contact{
    display: flex;
    justify-content: start;
    margin: 30px;
}

.two-col-container {
    display: flex;
}

.picture{
    display: flex;
    align-items: center;
}