@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    background-color: honeydew;
}


header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkseagreen;
}

nav{
    display: flex;
    gap: 30px;
    font-family: 'Scheherazade New', serif;
    font-size: larger;
}

nav a{
    text-decoration: none;
    color:honeydew;
}

a:hover{
    color:khaki;
}

p{
    display: flex;
    justify-content: center;
    font-family: 'Scheherazade New', serif;
    font-size: larger;
    color:black;
}